:root {
  --primary-color: hsl(166, 100%, 50%);
  --secondary-color: #00daa7;
}

@font-face {
  font-family: Recoleta;
  src: url(/static/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Recoleta;
  src: url(/static/fonts/Recoleta-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Recoleta;
  src: url(/static/fonts/Recoleta-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Poppins;
  src: url(/static/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(/static/fonts/Poppins-Bold.ttf);
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
  scrollbar-color:#43485c transparent;
  scrollbar-width: thin;
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  font: 100%/1.55 Poppins, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #292929;
}


section.regular {
  padding: 50px 0 100px 0;

  .row {
    h1 {
      font-size: 3rem;
      font-family: Recoleta, 'sans-serif';
      line-height: 1.25;
      margin: 0 0 30px 0;
      font-weight: 600;
    }
  }
}

.row {
  padding: 0 4vw;
}